@font_family_monospace: Menlo,Consolas,monaco,monospace;

// blocks::enlighter/codeblock
div[data-type="enlighter/codeblock"] {

    // small border around the whole block
    border: 1px solid #cccbcb;
    border-radius: 5px;
    max-width: 100%;
    padding: 15px;

    // editing area
    .block-editor-plain-text{
        font-family: @font_family_monospace;
        font-size: 14px;
        color: #23282d;
        white-space: pre-wrap;
        outline: none !important;
        box-shadow: none !important;
        transition: none;
        // custom color to indicated sourcecode
        background-color: #f9f9f9;
        padding: 2px;
        direction: ltr;
        text-align: left;
        border-radius: 0px;
    }

    .enlighter-header{

        .enlighter-title{
            font-weight: bold;
        }
    }

    // footer label/branding
    .enlighter-footer-label{
        text-align: right;
        font-size: 10px;
        font-family: @font_family_monospace;
        color: #23282d;
        cursor: pointer;
    }

    // block selected by user
    &.is-selected{
        .block-editor-plain-text{
            background-color: #d1d1d1;
        }

    }
}

// enlighter UI items
// dropdown menu (Block Settings/Toolbar)
.enlighter-dropdownmenu{
    max-height: 500px;
}

// popover (inline code)
.enlighter-popover-inline{

    .enlighter-popover-content{
        padding: 16px;
        min-width: 200px;
    }

    .enlighter-popover-buttons{
        display: flex;
        justify-content: flex-end;
    }

    .enlighter-popover-footer{
        padding: 5px 16px 5px 5px;
        border-top: solid 1px #d1d1d1;
        text-align: right;
    }
}